<section style="padding: 30px 0px;">
    <div class="container" style="padding: 0px 0px;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 style="color: #000000; font-size: 26px; margin-top:30px; text-align: left; text-decoration: underline; text-decoration-color: rgba(231, 194, 11, 0.547);"><strong>NUESTROS PRODUCTOS</strong></h2>
            </div>
        </div>

        <div class="row justify-content-center" style="margin-top: 40px;">
            <!-- Producto 1 -->
            <div class="col-sm-6 col-md-3 portfolio-item">
                <a href="#" class="portfolio-link" data-toggle="modal" data-target="#producto1Modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"></div>
                    </div>
                    <img class="img-fluid" src="img/filete.png" alt="Filete de Baby Paiche">
                </a>
                <div class="portfolio-caption">
                    <h4>Filetes de Baby Paiche</h4>
                    <p class="text-muted"><strong><em>Corte selecto</em></strong></p>
                    <p class="text-muted" style="margin-top: -10px;">S/. 45.00 kg</p>
                </div>
            </div>

            <!-- Producto 2 -->
            <div class="col-sm-6 col-md-3 portfolio-item">
                <a href="#" class="portfolio-link" data-toggle="modal" data-target="#producto2Modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"></div>
                    </div>
                    <img class="img-fluid" src="img/medallones.png" alt="Medallones de Baby Paiche">
                </a>
                <div class="portfolio-caption">
                    <h4>Medallones de Baby Paiche</h4>
                    <p class="text-muted"><strong><em>Corte Darnes</em></strong></p>
                    <p class="text-muted" style="margin-top: -10px;">S/. 25.00 kg</p>
                </div>
            </div>

            <!-- Producto 3 -->
            <div class="col-sm-6 col-md-3 portfolio-item">
                <a href="#" class="portfolio-link" data-toggle="modal" data-target="#producto3Modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"></div>
                    </div>
                    <img class="img-fluid" src="img/embutidos.png" alt="Embutidos de Baby Paiche">
                </a>
                <div class="portfolio-caption">
                    <h4>Embutidos de Baby Paiche</h4>
                    <p class="text-muted"><strong><em>Chorizo Parrillero</em></strong></p>
                    <p class="text-muted" style="margin-top: -10px;">S/. 22.00 kg</p>
                </div>
            </div>

            <!-- Producto 4 -->
            <div class="col-sm-6 col-md-3 portfolio-item">
                <a href="#" class="portfolio-link" data-toggle="modal" data-target="#producto4Modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"></div>
                    </div>
                    <img class="img-fluid" src="img/hamburguesa.png" alt="Hamburguesas de Baby Paiche">
                </a>
                <div class="portfolio-caption">
                    <h4>Hamburguesas de Baby Paiche</h4>
                    <p class="text-muted"><strong><em>Un festín Amazónico en cada bocado</em></strong></p>
                    <p class="text-muted" style="margin-top: -10px;">S/. 30.00 kg</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal Producto 1 -->
  <div class="modal fade" id="producto1Modal" tabindex="-1" role="dialog" aria-labelledby="producto1ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-body" tyle="flex: 1;">
            <h3 style="color: #000000; font-size: 26px; margin-bottom:20px; text-decoration: underline; text-decoration-color: rgba(231, 194, 11, 0.547);">
                <strong>FILETE DE BABY PAICHE</strong>
            </h3>
            <p>
                El filete de Baby Paiche es un corte selecto que conserva todas las cualidades excepcionales de este Rey del Amazonas. Su carne blanca, firme y de sabor delicado se presenta en un formato versatil y fácil de cocinar, ideal para aquellos que buscan una opción saludable y gourmet. Cada filete es cuidadosamente seleccionado y empacado para garantizar su fresacura y calidad, llevando a tu mesa una experiencia culinaria única y sostenible. 
            </p>
        </div>
        <div class="modal-body" style="display: flex; gap: 50px; margin-top: 30px;">
            <!-- Misión -->                 
            <div style="flex: 0.5;">
                <h3 style="color: #000000; font-size: 20px; margin-bottom:20px; text-decoration: underline; text-decoration-color: rgba(231, 194, 11, 0.547);">
                    <strong>Características nutricionales</strong>
                </h3>
                <p>
                    Alto contenido de proteinas<br>
                    Rico en omega 3,6 y 9<br>
                    Bajo contenido de grasas<br>
                    Fuente de vitaminas y minerales
                </p>
            </div>

            <!-- Visión -->
            <div style="flex: 0.5;">
                <h3 style="color: #000000; font-size: 20px; margin-bottom:20px; text-decoration: underline; text-decoration-color: rgba(231, 194, 11, 0.547);">
                    <strong>Certificaciones</strong>
                </h3>
                <div style="display: flex; gap: 50px;">
                    <img class="img-fluid col-sm-6 col-md-3" src="img/certificacion1.png" alt="Hamburguesas de Baby Paiche">
                    <img class="img-fluid col-sm-6 col-md-3" src="img/certificacion2.png" alt="Hamburguesas de Baby Paiche">
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal Producto 2 -->
  <div class="modal fade" id="producto2Modal" tabindex="-1" role="dialog" aria-labelledby="producto2ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-body" tyle="flex: 1;">
            <h3 style="color: #000000; font-size: 26px; margin-bottom:20px; text-decoration: underline; text-decoration-color: rgba(231, 194, 11, 0.547);">
                <strong>MEDALLONES DE BABY PAICHE</strong>
            </h3>
            <p>
                Los medallones de baby paiche son un corte selecto que conserva todas las cualidades excepcionales de este Rey del Amazonas. Su carne blanca, firme y de sabor delicado se presenta en un formato versatil y fácil de cocinar, ideal para aquellos que buscan una opción saludable y gourmet. Cada filete es cuidadosamente seleccionado y empacado para garantizar su fresacura y calidad, llevando a tu mesa una experiencia culinaria única y sostenible. 
            </p>
        </div>
        <div class="modal-body" style="display: flex; gap: 50px; margin-top: 30px;">
            <!-- Misión -->                 
            <div style="flex: 0.5;">
                <h3 style="color: #000000; font-size: 20px; margin-bottom:20px; text-decoration: underline; text-decoration-color: rgba(231, 194, 11, 0.547);">
                    <strong>Características nutricionales</strong>
                </h3>
                <p>
                    Alto contenido de proteinas<br>
                    Rico en omega 3,6 y 9<br>
                    Bajo contenido de grasas<br>
                    Fuente de vitaminas y minerales
                </p>
            </div>

            <!-- Visión -->
            <div style="flex: 0.5;">
                <h3 style="color: #000000; font-size: 20px; margin-bottom:20px; text-decoration: underline; text-decoration-color: rgba(231, 194, 11, 0.547);">
                    <strong>Certificaciones</strong>
                </h3>
                <div style="display: flex; gap: 50px;">
                    <img class="img-fluid col-sm-6 col-md-3" src="img/certificacion1.png" alt="Hamburguesas de Baby Paiche">
                    <img class="img-fluid col-sm-6 col-md-3" src="img/certificacion2.png" alt="Hamburguesas de Baby Paiche">
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal Producto 3 -->
  <div class="modal fade" id="producto3Modal" tabindex="-1" role="dialog" aria-labelledby="producto3ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-body" tyle="flex: 1;">
            <h3 style="color: #000000; font-size: 26px; margin-bottom:20px; text-decoration: underline; text-decoration-color: rgba(231, 194, 11, 0.547);">
                <strong>EMBUTIDOS DE BABY PAICHE</strong>
            </h3>
            <p>
                Los embutidos de baby paiche son un corte selecto que conserva todas las cualidades excepcionales de este Rey del Amazonas. Su carne blanca, firme y de sabor delicado se presenta en un formato versatil y fácil de cocinar, ideal para aquellos que buscan una opción saludable y gourmet. Cada filete es cuidadosamente seleccionado y empacado para garantizar su fresacura y calidad, llevando a tu mesa una experiencia culinaria única y sostenible. 
            </p>
        </div>
        <div class="modal-body" style="display: flex; gap: 50px; margin-top: 30px;">
            <!-- Misión -->                 
            <div style="flex: 0.5;">
                <h3 style="color: #000000; font-size: 20px; margin-bottom:20px; text-decoration: underline; text-decoration-color: rgba(231, 194, 11, 0.547);">
                    <strong>Características nutricionales</strong>
                </h3>
                <p>
                    Alto contenido de proteinas<br>
                    Rico en omega 3,6 y 9<br>
                    Bajo contenido de grasas<br>
                    Fuente de vitaminas y minerales
                </p>
            </div>

            <!-- Visión -->
            <div style="flex: 0.5;">
                <h3 style="color: #000000; font-size: 20px; margin-bottom:20px; text-decoration: underline; text-decoration-color: rgba(231, 194, 11, 0.547);">
                    <strong>Certificaciones</strong>
                </h3>
                <div style="display: flex; gap: 50px;">
                    <img class="img-fluid col-sm-6 col-md-3" src="img/certificacion1.png" alt="Hamburguesas de Baby Paiche">
                    <img class="img-fluid col-sm-6 col-md-3" src="img/certificacion2.png" alt="Hamburguesas de Baby Paiche">
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal Producto 4 -->
  <div class="modal fade" id="producto4Modal" tabindex="-1" role="dialog" aria-labelledby="producto4ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-body" tyle="flex: 1;">
            <h3 style="color: #000000; font-size: 26px; margin-bottom:20px; text-decoration: underline; text-decoration-color: rgba(231, 194, 11, 0.547);">
                <strong>HAMBURGUESAS DE BABY PAICHE</strong>
            </h3>
            <p>
                Las hamburguesas de baby paiche son un corte selecto que conserva todas las cualidades excepcionales de este Rey del Amazonas. Su carne blanca, firme y de sabor delicado se presenta en un formato versatil y fácil de cocinar, ideal para aquellos que buscan una opción saludable y gourmet. Cada filete es cuidadosamente seleccionado y empacado para garantizar su fresacura y calidad, llevando a tu mesa una experiencia culinaria única y sostenible. 
            </p>
        </div>
        <div class="modal-body" style="display: flex; gap: 50px; margin-top: 30px;">
            <!-- Misión -->                 
            <div style="flex: 0.5;">
                <h3 style="color: #000000; font-size: 20px; margin-bottom:20px; text-decoration: underline; text-decoration-color: rgba(231, 194, 11, 0.547);">
                    <strong>Características nutricionales</strong>
                </h3>
                <p>
                    Alto contenido de proteinas<br>
                    Rico en omega 3,6 y 9<br>
                    Bajo contenido de grasas<br>
                    Fuente de vitaminas y minerales
                </p>
            </div>

            <!-- Visión -->
            <div style="flex: 0.5;">
                <h3 style="color: #000000; font-size: 20px; margin-bottom:20px; text-decoration: underline; text-decoration-color: rgba(231, 194, 11, 0.547);">
                    <strong>Certificaciones</strong>
                </h3>
                <div style="display: flex; gap: 50px;">
                    <img class="img-fluid col-sm-6 col-md-3" src="img/certificacion1.png" alt="Hamburguesas de Baby Paiche">
                    <img class="img-fluid col-sm-6 col-md-3" src="img/certificacion2.png" alt="Hamburguesas de Baby Paiche">
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  