<section style="padding: 30px 0px;">
    <div class="container" style="padding: 0px 0px;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 style="color: #000000; font-size: 26px; margin-top:30px; text-align: left; text-decoration: underline; text-decoration-color: rgba(231, 194, 11, 0.547);"><strong>NUESTROS PRODUCTOS</strong></h2>
            </div>
        </div>

        <div class="row justify-content-center" style="margin-top: 40px;">
            <!-- Iterar sobre los productos con *ngFor -->
            <div class="col-sm-6 col-md-3 portfolio-item" *ngFor="let producto of productos; let i = index">
                <a href="#" class="portfolio-link" data-toggle="modal" [attr.data-target]="'#producto' + (i+1) + 'Modal'">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"></div>
                    </div>
                    <img class="img-fluid" [src]="producto.imagen" alt="{{ producto.nombre }}">
                </a>
                <div class="portfolio-caption">
                    <h4>{{ producto.nombre }}</h4>
                    <p class="text-muted"><strong><em>{{ producto.corte }}</em></strong></p>
                    <p class="text-muted" style="margin-top: -10px;">Precio: ${{ producto.precio }}</p>
                    <p><button class="btn btn-primary mx-2" (click)="agregarProducto(producto.id)">+</button>
                    <span class="mx-2">Cantidad: {{ producto.cantidad }}</span>
                    <button class="btn btn-danger mx-2" (click)="eliminarProducto(producto.id)">-</button>
                    </p>
                    <button class="btn btn-primary" (click)="agregarAlCarrito(producto)">Agregar al Carrito</button>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal para cada producto -->
<div *ngFor="let producto of productos; let i = index">
  <div class="modal fade" [id]="'producto' + (i+1) + 'Modal'" tabindex="-1" role="dialog" [attr.aria-labelledby]="'producto' + (i+1) + 'ModalLabel'" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <h3 style="color: #000000; font-size: 26px; margin-bottom:20px; text-decoration: underline; text-decoration-color: rgba(231, 194, 11, 0.547);">
                <strong>{{ producto.nombre }}</strong>
            </h3>
            <p>
                {{ producto.descripcion }}
            </p>
        </div>
        <div class="modal-body" style="display: flex; gap: 50px; margin-top: 30px;">
            <!-- Características nutricionales -->                 
            <div style="flex: 0.5;">
                <h3 style="color: #000000; font-size: 20px; margin-bottom:20px; text-decoration: underline; text-decoration-color: rgba(231, 194, 11, 0.547);">
                    <strong>Características nutricionales</strong>
                </h3>
                <p>
                    <span *ngFor="let caracteristica of producto.caracteristicas">{{ caracteristica }}<br></span>
                </p>
            </div>

            <!-- Certificaciones -->
            <div style="flex: 0.5;">
                <h3 style="color: #000000; font-size: 20px; margin-bottom:20px; text-decoration: underline; text-decoration-color: rgba(231, 194, 11, 0.547);">
                    <strong>Certificaciones</strong>
                </h3>
                <div style="display: flex; gap: 50px;">
                    <img class="img-fluid col-sm-6 col-md-3" *ngFor="let cert of producto.certificaciones" [src]="cert.imagen" alt="Certificación">
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
 