<nav class="navbar navbar-expand-lg bg-black">
  <div class="container-fluid">
    <a class="navbar-brand col-sm-6 col-md-1" href="#" style="color: aliceblue;"><img class="img-fluid" src="img/ladorada.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar bg-body-black" id="navbarNavAltMarkup">
      <div class="navbar-nav d-flex gap-3">
        <a class="nav-link js-scroll-trigger" routerLink="./aboutus" style="color: black; background-color: rgba(255,255,255,0.9);padding: 10px;border-radius: 10px;"><b>Nosotros</b></a>
        <a class="nav-link js-scroll-trigger" routerLink="./products" style="color: black; background-color: rgba(255,255,255,0.9);padding: 10px;border-radius: 10px;"><b>Productos</b></a>
        <a class="nav-link js-scroll-trigger" routerLink="./contact" style="color: black; background-color: rgba(255,255,255,0.9);padding: 10px;border-radius: 10px;"><b>Contacto</b></a>
      </div>
    </div>
  </div>
</nav>
<router-outlet />