

<header>
  <div class="logo">
      <a href="/"><img src="img/ladorada.png" alt="La Dorada Fishfarm"></a>
  </div>
  <nav>
      <ul>
          <li><a href="/aboutus">NOSOTROS</a></li>
          <li><a href="/products">PRODUCTOS</a></li>
          <li><a href="/contact">CONTACTO</a></li>
      </ul>
  </nav>
  <div class="icons">
      <a href="/login"><i class="fas fa-user"></i></a>
      <a href="/shop"><i class="fas fa-shopping-cart"></i></a>
  </div>
</header>
  
<router-outlet></router-outlet>

<footer class="bg-footer-black text-light py-4 " style="background-color: black">
  <div class="container footer-content">
    <div class="footer-hours">
      <h3>NUESTROS HORARIOS</h3>
      <p><span>LUN - SAB</span> 7 AM - 7 PM</p>
      <p><span>DOMINGOS</span> 9 AM - 5 PM</p>
    </div>
    <div class="footer-logo text-center">
      <img src="img/ladorada.png" alt="Logo LADORADA" class="img-fluid" style="max-height: 80px;">
      <div class="social-icons mt-3">
        <a href="#" class="text-light"><i class="fa-brands fa-youtube fa-lg me-2"></i></a>
        <a href="#" class="text-light"><i class="fa-brands fa-instagram fa-lg me-2"></i></a>
        <a href="#" class="text-light"><i class="fa-brands fa-facebook fa-lg"></i></a>
      </div>
    </div>
    <div class="footer-contact text-end">
      <h3>CONTÁCTANOS</h3>
      <p><i class="fa fa-phone me-2"></i> 998 822 844 | (01) 446 - 2278</p>
      <p><i class="fa fa-envelope me-2"></i> ladorada&#64;gmail.com</p>
      <a href="#" class="reclamaciones text-warning">LIBRO DE RECLAMACIONES</a>
    </div>
  </div>
 
</footer>