<section style="padding: 10px 0px;">
    <div class="container" style="margin-top: 50px;">
        <div class="row justify-content-center" style="margin-bottom: -15px; display: flex; align-items: flex-start;">
            <!-- Columna de texto -->
            <div style="flex: 1; padding-right: 90px;">
                <h2 class="form-group" style="color: #000000; font-size: 30px; margin-bottom:20px; text-decoration: underline; text-decoration-color: rgba(231, 194, 11, 0.547);">  
                    <strong>NUESTRO OBJETIVO</strong>
                </h2>   
                <p style="flex: 1; padding-right: 80px;">
                    LADORADA Fish Farm es una empresa innovadora dedicada a la producción sostenible de Paiche (Arapaima gigas), el Rey del Amazonas Peruano.
                </p>
                <p style="flex: 1; padding-right: 80px;">
                    Nuestro objetivo es ofrecer al mercado gourmet el Baby Paiche, una presentación premium producida mediante Acuicultura Sostenible, contribuyendo a la preservación de esta especie y la conservación de los recursos naturales.
                </p>
                <div style="display: flex; gap: 150px; margin-top: 30px;">
                    <!-- Misión -->                 
                    <div style="flex: 0.5;">
                        <h3 style="color: #000000; font-size: 26px; margin-bottom:20px; text-decoration: underline; text-decoration-color: rgba(231, 194, 11, 0.547);">
                            <strong>MISIÓN</strong>
                        </h3>
                        <p>
                            Contribuir a la seguridad alimentaria y al desarrollo sostenible mediante la producción de carne de paiche de alta calidad, utilizando técnicas innovadoras de acuicultura que respeten el medio ambiente y promuevan la conservación de los recursos naturales.
                        </p>
                    </div>

                    <!-- Visión -->
                    <div style="flex: 0.5;">
                        <h3 style="color: #000000; font-size: 26px; margin-bottom:20px; text-decoration: underline; text-decoration-color: rgba(231, 194, 11, 0.547);">
                            <strong>VISIÓN</strong>
                        </h3>
                        <p>
                            LADORADA como líder a nivel nacional en la producción sostenible de carne de paiche, impulsando un futuro donde la alimentación saludable y responsable sea accesible para todos.       
                        </p>
                    </div>
                </div>
            </div>

            <!-- Columna de imagen -->
            <div style="flex: 0 0 400px;"> <!-- Ajusta el ancho de la imagen -->
                <img src="img/nosotros.png" class="img-fluid" style="width: 100%; height: auto;">
            </div>
        </div>
    </div>
</section>
    